.signup-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* margin: 4px; */
}

.signup-header {
  text-align: center;
}

.signup-header h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.signup-header p {
    /* margin-top: 6px; */
  font-size: 14px;
  color: #777;
}

/* Step Indicator */
.step-indicator {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.step-indicator div {
  width: 32px;
  height: 4px;
  border-radius: 10px;
  background: #e5e5e5;
}

.step-indicator .active {
  background: #000;
}

/* Form */
.signup-form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.signup-form-group label {
  font-size: 14px;
  font-weight: 500;
}

.signup-form-group input {
  height: 48px;
  border-radius: 12px;
  border: none;
  background: #f3f6f6;
  padding: 0 12px;
  font-size: 14px;
}

.signup-form-group input::placeholder {
  color: #979797;
}

/* Buttons */
.primary-btn {
  width: 100%;
  height: 48px;
  border-radius: 999px;
  border: none;
  background: #338d38;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-top: 6px;
}

.primary-btn:hover {
  /* opacity: ; */
  background-color: #176f1c;
}

.secondary-btn {
  width: 100%;
  font-size: 14px;
  color: #777;
  background: none;
  border: none;
  cursor: pointer;
}

.secondary-btn:hover {
  color: black;
}

/* Bottom Text */
.bottom-text {
  text-align: center;
  font-size: 14px;
  color: #373737;
}

.bottom-text button {
  margin-left: 5px;
  background: none;
  border: none;
  font-weight: 700;
  color: #054008;
  text-decoration: underline;
  cursor: pointer;
}

.bottom-text button:hover {
  color: #000;
}

/* OTP Section */
.otp-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Back Button */
.back-btn {
  font-size: 14px;
  color: #777;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

.back-btn:hover {
  color: black;
}